<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">IKP - {{myRole}}</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul *ngIf="myRole == 'Student'" class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('Programs')">
                        <span class='glyphicon glyphicon-education'></span> Программы
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('MyResults')">
                        <span class='glyphicon glyphicon-star-empty'></span> Мои результаты
                    </a>
                </li>
            </ul>
            <ul *ngIf="myRole == 'Stuff'" class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('Programs')">
                        <span class='glyphicon glyphicon-education'></span> Учебные программы
                     </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                   <a (click)="fire('MyGroups')">
                        <span class='glyphicon glyphicon-list'></span> Мои группы
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('MyStudents')">
                         <span class='glyphicon glyphicon-user'></span> Мои студенты
                     </a>
                 </li>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('AllResults')">
                        <span class='glyphicon glyphicon-stats'></span> Статистика моих студентов
                    </a>
                </li>
            </ul>
            <ul *ngIf="isSA" class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('Programs')">
                        <span class='glyphicon glyphicon-education'></span> Учебные программы
                     </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                        <a (click)="fire('Media')">
                            <span class='glyphicon glyphicon-video'></span> Медиа-менеджер
                         </a>
                    </li>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('Keys')">
                        <span class='glyphicon glyphicon-arrow-right'></span> Лицензионные ключи
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('Admins')">
                        <span class='glyphicon glyphicon-user'></span> Администраторы
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('History')">
                        <span class='glyphicon glyphicon-calendar'></span> История изменений
                    </a>
                </li>
            </ul>
            <ul *ngIf="myRole == 'Admin'" class='nav navbar-nav'>
                
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('Stuff')">
                        <span class='glyphicon glyphicon-user'></span> Сотрудники
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('Groups')">
                        <span class='glyphicon glyphicon-list'></span> Группы
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a (click)="fire('Students')">
                        <span class='glyphicon glyphicon-user'></span> Учащиеся
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
