<h2>Медиа-менеджер</h2>
<table class="table table-striped table-bordered">
    <tr>
        <th colspan="2">Выберите режим</th>
    </tr>
    <tr>
        <td [ngClass]="{'current': currentMode == 0}" (click)="modeChanged(0)">Видео</td>
        <td [ngClass]="{'current': currentMode == 1}" (click)="modeChanged(1)">Картинки</td>
    </tr>
</table>
<gallery *ngIf="currentMode == 0" [mode]="0" [selectionEnabled]="false" [company]="company"></gallery>
<gallery *ngIf="currentMode == 1" [mode]="1" [selectionEnabled]="false" [company]="company"></gallery>