th, td {
    text-align: center;
}

td {
    cursor: pointer;
}

td.current {
    background-color: deepskyblue;
    font-weight: bold;
    color: #fff;
}

.item {
    width: 180px;
    height: 180px;
    float: left;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}

.video-item {
    width: 220px;
    height: 220px;
    float: left;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}