<div class="row">
    <div class="col-sm-3">
        <nav-menu [role]="role" (onSelected)="goToModule($event)"></nav-menu>
    </div>
    <div class="col-sm-9">
        <table class="table table-bordered">
            <tr>
                <td><span class="glyphicon glyphicon-user"></span> {{currentUser.FIO}}</td>
                <td>{{currentUser.Login}}</td>
                <td>{{roleString}}</td>
                <td><span class="glyphicon glyphicon-menu-hamburger"></span> Меню</td>
            </tr>
        </table>
        <div [ngSwitch]="currentModule">
            <linked-table *ngSwitchCase="'Keys'" [title]="'Лицензионные ключи'" [keyMap]="licenseKeyMap" [data]="keys"></linked-table>
            <linked-table *ngSwitchCase="'Databases'" [title]="'Базы данных'" [keyMap]="dbKeyMap" [data]="databases"></linked-table>
            <linked-table *ngSwitchCase="'Admins'" [title]="'Администраторы'" [keyMap]="adminsKeyMap" [data]="admins"></linked-table>
            <linked-table *ngSwitchCase="'Stuff'" [title]="'Сотрудники'" [keyMap]="stuffKeyMap" [data]="stuff"></linked-table>
            <linked-table *ngSwitchCase="'AllGroups'" [title]="'Группы'" [keyMap]="groupsKeyMap" [data]="groups"></linked-table>
            <linked-table *ngSwitchCase="'Students'" [title]="'Учащиеся'" [keyMap]="studentsKeyMap" [data]="students"></linked-table>
            <linked-table *ngSwitchCase="'History'" [title]="'История изменений'" [keyMap]="historyKeyMap" [data]="history"></linked-table>

            <linked-table *ngSwitchCase="'MyGroups'" [title]="'Мои группы'" [keyMap]="groupsKeyMap" [data]="myGroups"></linked-table>
            <linked-table *ngSwitchCase="'AllResults'" [title]="'Все результаты'" [keyMap]="resultsKeyMap" [data]="allResults"></linked-table>

            <linked-table *ngSwitchCase="'Programs'" [title]="'Программы'" [keyMap]="programsKeyMap" [data]="programs"></linked-table>
            <linked-table *ngSwitchCase="'MyResults'" [title]="'Мои результаты'" [keyMap]="resultsKeyMap" [data]="myResults"></linked-table>
        </div>
    </div>
</div>