<div>
    <h4>Загрузка на сервер</h4>
    <file-upload [folder]="folder" [company]="company" (onComplete)="onFileUploadComplete($event)"></file-upload>
</div>
<div>
    <div style="display: inline-block;">Показаны последние {{lastIndex}} элементов из {{total}}</div>
    <div *ngIf="lastIndex < total" style="display: inline-block; margin-left: 50%;">
        <button class="btn btn-secondary" (click)="more10()">Показать еще 10</button>
    </div>
    <div style="margin-top: 30px;">
        <div *ngIf="mode == 0">
            <div *ngFor="let video of dataSlice" class="video-item">
                <media-presenter [mediaSource]="getVideoUrl(video)" [width]="200" [height]="150"></media-presenter>
                <br>
                <div *ngIf="!selectionEnabled">{{video}}</div>
                <button *ngIf="selectionEnabled" class="btn btn-secondary" (click)="onSelected(video)">Выбрать</button>
            </div>
        </div>
        <div *ngIf="mode == 1">
            <div *ngFor="let image of dataSlice" class="image-item">
                <img width="100" height="100" [src]="getImageSrc(image)" />
                <br>
                <div *ngIf="!selectionEnabled">{{image}}</div>
                <button *ngIf="selectionEnabled" class="btn btn-secondary" (click)="onSelected(image)">Выбрать</button>
            </div>
        </div>    
    </div>
</div>