.videoWrapper {
    width: 100%;
}

.videoElement {
    width: 100%;
    height: 70%;
    background: black;
}

.toolbar {
    width: 100%;
    height: 30%;
    background: #ccc;
}

.toolbar button {
    float: left;
}