<div>
    <h2 *ngIf="!editMode">Добавить программу</h2>
    <h2 *ngIf="editMode">Редактировать программу: {{program.Name}}</h2>
    <div class="itemGroup">
        <div class="itemCaption">Наименование</div>
        <input class="itemInput" [ngClass]="{ 'invalid': !program.Name }" [(ngModel)]="program.Name" />
        <div *ngIf="!program.Name" class="validationMessage">Поле обязательно к заполнению</div>
    </div>
    <br>
    <div class="itemGroup">
        <div class="itemCaption">Лицензионный ключ</div>
        <lookup [type]="'LicenseKey'" [displayProperty]="'Guid'" [company]="company" (onOptionSelected)="keySelected($event)"></lookup>
        <div *ngIf="!program.LicenseKey" class="validationMessage">Поле обязательно к заполнению</div>
    </div>
    <br>
    <button *ngIf="valid" class="btn btn-success" (click)="ok()">Сохранить</button>
    <button class="btn btn-secondary" (click)="cancel()">Отмена</button>
</div>