<div>
    <h2 *ngIf="!editMode">Add Program</h2>
    <h2 *ngIf="editMode">Edit Program: {{program.Name}}</h2>
    <div class="itemGroup">
        <div class="itemCaption">Name</div>
        <input class="itemInput" [ngClass]="{ 'invalid': !program.Name }" [(ngModel)]="program.Name" />
        <div *ngIf="!program.Name" class="validationMessage">This field is required</div>
    </div>
    <br>
    <div class="itemGroup">
        <div class="itemCaption">LicenseKey</div>
        <lookup [type]="'LicenseKey'" [displayProperty]="'Guid'" [company]="company" (onOptionSelected)="keySelected($event)"></lookup>
        <div *ngIf="!program.LicenseKey" class="validationMessage">This field is required</div>
    </div>
    <br>
    <button *ngIf="valid" class="btn btn-success" (click)="ok()">Submit</button>
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
</div>