<div>
        <h2 *ngIf="!editMode">Добавить группу</h2>
        <h2 *ngIf="editMode">Редактировать группу: {{group.Name}}</h2>
        <div class="itemGroup">
            <div class="itemCaption">Наименование</div>
            <input class="itemInput" [ngClass]="{ 'invalid': !group.Name }" [(ngModel)]="group.Name" />
            <div *ngIf="!group.Name" class="validationMessage">Поле обязательно к заполнению</div>
        </div>
        <br>
        <div class="itemGroup">
            <div class="itemCaption">Руководитель</div>
            <lookup [type]="'Stuff'" [displayProperty]="'FIO'" [company]="company" (onOptionSelected)="leadSelected($event)"></lookup>
            <div *ngIf="!group.Lead" class="validationMessage">Поле обязательно к заполнению</div>
        </div>
        <br>
        <button *ngIf="valid" class="btn btn-success" (click)="ok()">Сохранить</button>
        <button class="btn btn-secondary" (click)="cancel()">Отмена</button>
    </div>