<div>
    <h2 *ngIf="!editMode">Добавить направление</h2>
    <h2 *ngIf="editMode">Редактировать направление</h2>
    <div class="itemGroup">
        <div class="itemCaption">Содержимое</div>
        <textarea class="itemInput" [ngClass]="{ 'invalid': !question.Content }" [(ngModel)]="question.Content"></textarea>
        <div *ngIf="!question.Content" class="validationMessage">Поле обязательно к заполнению</div>
    </div>
    <button *ngIf="valid" class="btn btn-success" (click)="ok()">Сохранить</button>
    <button class="btn btn-secondary" (click)="cancel()">Отмена</button>
</div>