<div>
    <h2 *ngIf="!editMode">Добавить упражнение</h2>
    <h2 *ngIf="editMode">Редактировать упражнение: {{exersize.Name}}</h2>
    <div class="itemGroup">
        <div class="itemCaption">Наименование</div>
        <input class="itemInput" [ngClass]="{ 'invalid': !exersize.Name }" [(ngModel)]="exersize.Name" />
        <div *ngIf="!exersize.Name" class="validationMessage">Поле обязательно к заполнению</div>
    </div>
    <br>
    <div class="itemGroup">
        <div class="itemCaption">Главный вопрос</div>
        <input class="itemInput" [ngClass]="{ 'invalid': !exersize.GeneralQuestion }" [(ngModel)]="exersize.GeneralQuestion" />
        <div *ngIf="!exersize.GeneralQuestion" class="validationMessage">Поле обязательно к заполнению</div>
    </div>
    <button *ngIf="valid" class="btn btn-success" (click)="ok()">Сохранить</button>
    <button class="btn btn-secondary" (click)="cancel()">Отмена</button>
</div>