<div>
        <h2 *ngIf="!editMode">Добавить компонент заключения</h2>
        <h2 *ngIf="editMode">Редактировать компонент заключения</h2>
        <div class="itemGroup">
            <div class="itemCaption">Наименование</div>
            <input class="itemInput" [ngClass]="{ 'invalid': !conclusionItem.Content }" [(ngModel)]="conclusionItem.Content" />
            <div *ngIf="!conclusionItem.Content" class="validationMessage">Поле обязательно к заполнению</div>
        </div>
        <br>
        <div class="itemGroup">
            <div class="itemCaption">Является структурой?</div>
                <input type="checkbox" [(ngModel)]="isBranchChecked" />
            </div>
        <br>
        <div class="itemGroup">
            <div class="itemCaption">Правильно?</div>
                <input type="checkbox" [(ngModel)]="isCorrectChecked" />
            </div>
        <br>
        <button *ngIf="valid" class="btn btn-success" (click)="ok()">Сохранить</button>
        <button class="btn btn-secondary" (click)="cancel()">Отмена</button>
    </div>