<div style="margin-left: 20px;">
    <div *ngFor="let item of level" [ngClass]="{'hidden': isDisplayNotNeeded(item)}">
        <button style="margin: 5px 0;" class="btn btn-secondary"
        (click)="itemSelected(item)"
        [ngClass]="{'btn-success': item.isSuccess, 'btn-danger': item.isFailed}">{{item[displayProperty]}}</button>
        <br>
        <rt [ngClass]="{'hidden': !isExpanded && !item.isExpanded}" [displayProperty]="displayProperty" 
            [childrenProperty]="childrenProperty" [level]="item[childrenProperty]"
            [isExpanded]="isExpanded" (onItemSelected)="itemSelected($event)"></rt>
    </div>
</div>