<div>
    <h2 *ngIf="!editMode">Добавить материал</h2>
    <h2 *ngIf="editMode">Редактировать материал</h2>
    <div class="itemGroup">
        <div class="itemCaption">Картинка</div>
        <input type="checkbox" [(ngModel)]="checked" />
        <button *ngIf="checked" class="btn btn-secondary" (click)="showGallery()">Выбрать картинку</button>
        <button *ngIf="checked && resolver.Content" class="btn btn-secondary" (click)="setCurrent()">Просмотр</button>
    </div>
    <br>
    <div class="itemGroup">
        <div class="itemCaption">Содержимое</div>
        <textarea class="itemInput" [ngClass]="{ 'invalid': !resolver.Content }" [(ngModel)]="resolver.Content"></textarea>
        <div *ngIf="!resolver.Content" class="validationMessage">Поле обязательно к заполнению</div>
    </div>
    <div>
        <button *ngIf="valid" class="btn btn-success" (click)="ok()">Сохранить</button>
        <button class="btn btn-secondary" (click)="cancel()">Отмена</button>
    </div>
    <br>
    <gallery *ngIf="checked && gallery" [mode]="1" selectionEnabled="true" [company]="company" (onFileSelected)="onGallerySelected($event)"></gallery>
    <div *ngIf="checked && preview">
        <img [src]="getImageUrl(current)" [width]="100" [height]="100" />
    </div>
</div>