<div>
    <h2 *ngIf="!editMode">Добавить материал</h2>
    <h2 *ngIf="editMode">Редактировать материал</h2>
    <div class="itemGroup">
        <div class="itemCaption">Картинка</div>
        <input type="checkbox" [(ngModel)]="checked" />
    </div>
    <br>
    <div class="itemGroup">
        <div class="itemCaption">Содержимое</div>
        <textarea class="itemInput" [ngClass]="{ 'invalid': !resolver.Content }" [(ngModel)]="resolver.Content"></textarea>
        <div *ngIf="!resolver.Content" class="validationMessage">Поле обязательно к заполнению</div>
    </div>
    <button *ngIf="valid" class="btn btn-success" (click)="ok()">Сохранить</button>
    <button class="btn btn-secondary" (click)="cancel()">Отмена</button>
</div>