.results {
    align-items: center;
    width: 100%;
    position: relative;
}

.table-results {
    width: 70%;
    float: right;
}

th, td {
    text-align: center;
}

td {
    cursor: pointer;
}

td.current {
    background-color: deepskyblue;
    font-weight: bold;
    color: #fff;
}

.success {
    background-color: lightgreen;
}

.error {
    background-color: crimson;
}